{{>header}}
{{>navbar}}
    <form>
        <div class="mb-3">
            <input placeholder="Name" name="name" class="form-control">
        </div>
        <div class="mb-3">
            <input placeholder="Email" name="email" class="form-control">
        </div>
        <div class="mb-3">
            <input placeholder="Age" name="age" class="form-control">
        </div>
        <div class="mb-3">
            <button class="btn btn-primary">Add</button>
        </div>
    </form>
{{>footer}}